.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px 10px 10px 16px;
  align-items: center;

  .wrapper {
    h1,
    h2 {
      padding: 0;
      padding-right: 8pt;
      margin: 0;
    }
    h1 {
      font-size: 14px;
    }

    h2 {
      font-size: 12px;
      text-align: end;
    }
  }
}
